/*自己添加的样式*/
[v-cloak] {
    display: none;
}
.el-main{
    padding-top:10px;
}
.chatcb_tab_content {
    height: calc(100vh - 120px);
}

.chatcb_tcl_top {
    height: calc(100vh - 300px);
}
.chat_fr{
    cursor:pointer;
}
/*.chat_right .head_img, .chat_right .chatl-r, .chat_right .zan, .chat_right .zan .icon {
    float: right;
}*/
.font_large .chatlr-txt {
    font-size: 18px !important;
}
.font_normal .chatlr-txt{
    font-size:16px !important;
}
.font_small .chatlr-txt {
    font-size: 14px !important;
}
.select-ul li.hover{
    background-color:lightgray;
}
.linkc9.hover, .linkc6.hover {
    color: #2389d8
}

.ctxt2-bot {
    left: 0;
    right: 0;
    padding-right: 15px;
}

.chatlr-txt2{
    cursor:pointer;
}
.chat_discuss{
    cursor:pointer;
}
.chatlrt-t{
    cursor:pointer;
}




.mem_con {
    margin-left: 0;
}
    #msgTextarea {
    border: none;
    height: 75px;
    overflow-y: auto;
    padding: 10px;
    overflow-wrap: break-word;
    outline: none;
}
    
    .emoji_icon {
        width: 22px !important;
    }

.emoji_container {
    top: 332px !important;
    left: 22px !important;
}

.chatcb_tc_trends > div {
    height: 100%;
    width: 100%;
}
.chat-export {
    float: right;
    margin-right: 10px;
    cursor: pointer;
    color: #2389d8
}

    .chat-export:hover {
        color: #003E8B !important;
    }

.h3-time {
    font-weight: normal;
}

.p-msg {
    text-indent: 35px;
}

.p-msg-img {
    margin-left: 35px;
}
#historychatDiv {
    height: 100%;
    border-left: 1px solid #DDD; /*font-size: 12px;*/
}

.ihide {
    display: none;
}

#searchDatetime {
    width: 88px;
    display: inline-block;
    height: 24px;
}
