#searchUserInput + .icon-delte,
    #searchGroupInput + .icon-delte {
        position: absolute;
        right: 2px;
        top: 9px;
    }

    .red {
        border: 1px solid #d00;
        background: #ffe9e8;
        color: #d00;
    }
.height92p {
    height: 92%;
}
.height50p {
    height: 50%;
}
.k-height100p {
    height: 100% !important;
    position: relative !important;
}
.fav-p{
    cursor:pointer;
}
.fav-doc {
    width: 24px;
    height: 24px;
    float: left;
}
.fav-doc-title{
    line-height:24px;
    float:left;
}