body {
    background-color: transparent;
}
.layui-layer {
    border: none;
    box-shadow: none;
    background-color: transparent !important;
}



.close-btnt {
    right: 18px;
}
.demo-class {
    background-color: transparent !important;
    border: none !important;
    box-shadow: none !important;
    display: none;
}