@using Edu.Tools
@model dynamic

@{
    ViewBag.Title = "WebApi测试页面";
}

<h2 id="b1">点击测试-添加了accesstoken</h2>
<h2 id="b2">点击测试-未添加accesstoken</h2>
<script src="~/Scripts/jquery-1.8.0.min.js"></script>
<script src="~/Scripts/jquery.cookie.js"></script>
<script type="text/javascript">
    $(function() {
        $("#b1").click(function () {
            console.log($.cookie("@ConfigHelper.GetConfigString("ssoTokenId")"));
            $.ajax({
                type: 'Get',
                timeout: 10000, // 超时时间 10 秒
                headers: {
                    'accesstoken': $.cookie("@ConfigHelper.GetConfigString("ssoTokenId")")
                },
                url: "http://127.dev.cnki.net/imwebapi/api/ChatApi/ApiTest",
                success: function(data) {
                    if (data.Success) {
                        console.log(data.Message);
                    } else {
                        console.log(data.Message);
                    }
                },
                error: function(err) {
                    console.log(err);
                },
            });
        });
        $("#b2").click(function () {
            $.ajax({
                type: 'Get',
                timeout: 10000, // 超时时间 10 秒
                url: "http://127.dev.cnki.net/imwebapi/api/ChatApi/ApiTest",
                data: {},
                success: function(data) {
                    if (data.Success) {
                        console.log(data.Message);
                    } else {
                        console.log(data.Message);
                    }
                },
                error: function(err) {
                    console.log(err);
                },
            });
        });
    });
</script>