<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <section name="exceptionless" type="Exceptionless.ExceptionlessSection, Exceptionless" />
  </configSections>
  <exceptionless apiKey="1OlvyBGztrFU81s1b4kGJSJjow40mxOLLoEqE1B7" serverUrl="http://exceptionless.cnki.net:50000" enabled="true" />
  <appSettings>
    <!--SignalR服务设置-->
    <add key="owin:AutomaticAppStartup" value="false" />
    <add key="SignalRServerUrl" value="http://oaokcs.cnki.net/okcssignalr/" />
    <add key="SignalRServerHubConnection" value="http://oaokcs.cnki.net/okcssignalr/signalr/hubs" />
    <!--聊天Hub的名称-->
    <add key="IMChatHubName" value="chatHub" />
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <!--群组消息总线 暂时没用到-->
    <add key="RabbitMQHost" value="rabbitmq://10.1.122.106/okcs_test/" />
    <add key="RabbitMQUsername" value="lmz8957@cnki.net" />
    <add key="RabbitMQPassword" value="limingzhi" />
    <add key="AppMsgQueueName" value="okcs-insert-appmsg" />
    <add key="aspnet:MaxJsonDeserializerMembers" value="150000000" />
    <!--Redis 缓存服务器  如果是集群请用;号分割-->
    <add key="ServerHosts" value="10.1.122.25:6379" />
    <add key="RedisServerIP" value="10.1.122.25" />
    <add key="RedisServerPort" value="6379" />
    <add key="IMServer" value="http://oaokcs.cnki.net/im" />
    <!--SSO登陆 appid-->
    <add key="IsSso" value="1" />
    <add key="sso_appid" value="OKCS_IM_RELEASE" />
    <!--appkey-->
    <add key="sso_appkey" value="ZldCkjaJpoI2JPTV" />
    <!--允许的请求最大间隔，单位：分钟-->
    <add key="sso_interval" value="10" />
    <!--SSO主站HOST地址-->
    <add key="sso_host_name" value="http://oaokcs.cnki.net/sso/" />
    <!--SSO的有效域（同域下可不配）-->
    <add key="sso_domain_name" value="cnki.net" />
    <!--标识是否强制用户登录-->
    <add key="sso_force_login" value="true" />
    <!--标识是否和主站是跨域模式-->
    <add key="sso_cross_domain" value="true" />
    <!--群组消息通知接口1同意/拒绝入群申请-->
    <add key="GroupMsg01" value="http://oaokcs.cnki.net/pmcwebapi/api/Group/UpdateStatus" />
    <!--群组消息通知接口2获取我收到的申请列表-->
    <add key="GroupMsg02" value="http://oaokcs.cnki.net/pmcwebapi/api/Group/GetUserGroupApply" />
    <!--群组消息通知接口3获取我的申请列表-->
    <add key="GroupMsg03" value="http://oaokcs.cnki.net/pmcwebapi/api/Group/GetUserApplyResult" />
    <!--获取我的群组列表-->
    <add key="GetMyGroups" value="http://oaokcs.cnki.net/pmcwebapi/api/Group/GetGroupList" />
    <!--获取群组成员-->
    <add key="GetMyGroupMembers" value="http://oaokcs.cnki.net/PMC/Group/GetGroupMembers" />
    <!--获取单个群组信息-->
    <add key="GetGroupInfo" value="http://oaokcs.cnki.net/PMC/Group/GetGroupInfo" />
    <!--网盘上传下载服务-->
    <add key="UploadIP" value="net.tcp://10.1.122.106:8057/NetDrive/FileUpload/FileUpload" />
    <add key="DownloadIP" value="net.tcp://10.1.122.106:8057/NetDrive/FileDownload/FileDownload" />
    <!--HFS获取图片地址-->
    <add key="HfsUrl" value="http://oaokcs.cnki.net/imwebapi/Home/GetHfsImage?filecode=" />
    <!--Exceptionless配置项（与exceptionless enarunAllManagedModulesForAllRequestsbled一致）启动：true 关闭:false-->
    <add key="ExceptionlessEnabled" value="true" />
    <!--研讨地址-->
    <add key="Discuss" value="http://oaokcs.cnki.net/discuss" />
    <!--调用SSOTokenId,开发环境下为AID，灰度环境为BID，正式环境为LID-->
    <add key="ssoTokenId" value="BID" />
    <!--获取群组头像地址-->
    <add key="IMWebApiGroupPic" value="http://oaokcs.cnki.net/imwebapi/Home/Pic?id=" />
  </appSettings>
  <system.web>
    <customErrors mode="Off" />
    <authentication mode="Forms">
      <forms loginUrl="~/Account/Login" timeout="2880" />
    </authentication>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime executionTimeout="300" maxRequestLength="1048576" targetFramework="4.5" />
  </system.web>

  <system.webServer>
    <staticContent>
      <mimeMap fileExtension="*" mimeType="application/octet-stream" />
    </staticContent>
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="1073741824"></requestLimits>
      </requestFiltering>
    </security>
    <handlers>
      <add name="MiniProfiler" path="mini-profiler-resources/*" verb="*" type="System.Web.Routing.UrlRoutingModule" resourceType="Unspecified" preCondition="integratedMode" />
    </handlers>
    <modules>
      <add name="sso_httpmodule" type="KNet.AAMS.Web.Security.AuthenticationModule, KNet.AAMS.Web.Security" />
      <!--<remove name="FormsAuthentication" />-->
      <add name="ExceptionlessModule" type="Exceptionless.Mvc.ExceptionlessModule, Exceptionless.Mvc" />
    </modules>
    <urlCompression doStaticCompression="false" doDynamicCompression="false" />
  </system.webServer>


  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="MiniProfiler" publicKeyToken="b44f9351044011a3" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.10.0" newVersion="3.0.10.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:6 /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:14 /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>

  <system.serviceModel>
    <client>
      <!--授权服务-->
      <endpoint name="authorization" address="net.tcp://10.26.12.166:9031/authorization.svc" binding="netTcpBinding" contract="KNet.AAMS.Foundation.Authorization.IAuthorizationService" />
      <!--认证服务-->
      <endpoint name="authentication" address="net.tcp://10.26.12.166:9031/authentication.svc" binding="netTcpBinding" contract="KNet.AAMS.Foundation.Authentication.IAuthenticationService" />
      <!--协同研讨-->
      <endpoint address="http://oaokcs.cnki.net/RPMSWCFService/RPMSService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IRpmsService" contract="IRpmsService" name="BasicHttpBinding_IRpmsService" />
      <!--获取群组接口 艾鑫提供-->
      <endpoint address="http://oaokcs.cnki.net/pmcwcf/ImOkcsClient.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IImOkcsClient" contract="IImOkcsClient" name="BasicHttpBinding_IImOkcsClient" />
      <!--网盘上传服务-->
      <endpoint address="net.tcp://10.1.122.106:8057/NetDrive/FileUpload/FileUpload" bindingConfiguration="NetDriveService" binding="netTcpBinding" name="OKMS.NetDriveService" contract="Cnki.NetworkDisk.Client.IFileUpload" />
      <!--网盘下载服务-->
      <endpoint address="net.tcp://10.1.122.106:8057/NetDrive/FileDownload/FileDownload" bindingConfiguration="NetDriveService" binding="netTcpBinding" name="OKMS.NetDriveService" contract="Cnki.NetworkDisk.Client.IFileDownload" />
      <!--文件转换服务-->
      <endpoint address="net.tcp://oaokcs.cnki.net/FileConvert/FileConvertService.svc" binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IFileConvertService" contract="IFileConvertService" name="NetTcpBinding_IFileConvertService" />
      <!--碎片化服务地址-->
      <endpoint address="net.tcp://10.26.12.166:9035/OKMS/Fragment/Fragment" binding="netTcpBinding" contract="OKMS.FragmentService.WcfService.Fragment.IFragmentService" bindingConfiguration="NoneSecurity" name="OKMS.FragmentService.WcfService.Fragment.FragmentService" />
    </client>
    <bindings>
      <netTcpBinding>
        <binding maxBufferSize="2147483647" maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647">
          <!--取消服务器凭据认证-->
          <security mode="None" />
        </binding>
        <binding name="NetTcpBinding_IGetHtmlInfoService">
          <security mode="None" />
        </binding>
        <!--文件上传-->
        <binding name="NetDriveService" maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647" transferMode="Streamed">
          <readerQuotas maxArrayLength="2147483647" maxStringContentLength="2147483647" />
          <security mode="None" />
        </binding>
        <!--大纲抽取服务 文件转换-->
        <binding name="NetTcpBinding_IFileConvertService" sendTimeout="00:05:00" maxBufferPoolSize="2147483647" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647">
          <readerQuotas maxArrayLength="2147483647" maxStringContentLength="2147483647" />
          <security mode="None" />
        </binding>
        <binding name="NoneSecurity" maxBufferPoolSize="2147483647" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647" receiveTimeout="00:02:00" sendTimeout="00:02:00">
          <readerQuotas maxArrayLength="2147483647" maxStringContentLength="2147483647" />
          <security mode="None" />
        </binding>
      </netTcpBinding>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IRpmsService" />
        <binding name="BasicHttpBinding_IImOkcsClient" />
      </basicHttpBinding>
    </bindings>
  </system.serviceModel>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v13.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
      <provider invariantName="MySql.Data.MySqlClient" type="MySql.Data.MySqlClient.MySqlProviderServices, MySql.Data.Entity.EF6, Version=6.9.9.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d"></provider>
    </providers>
  </entityFramework>
  <system.data>
    <DbProviderFactories>
      <remove invariant="MySql.Data.MySqlClient" />
      <add name="MySQL Data Provider" invariant="MySql.Data.MySqlClient" description=".Net Framework Data Provider for MySQL" type="MySql.Data.MySqlClient.MySqlClientFactory, MySql.Data, Version=6.9.9.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d" />
    </DbProviderFactories>
  </system.data>
  <connectionStrings>
    <add name="EduContext" connectionString="server=10.26.12.166;user id=LibSvr;password=P@$$W0rd;persistsecurityinfo=True;database=EduIM" providerName="MySql.Data.MySqlClient" />
  </connectionStrings>
</configuration>